*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    font-size: 16px;
}

body {
    font-family: 'helvetica';
    font-size: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-variant-ligatures: none;
    margin: 0;
    text-rendering: optimizeLegibility;
}

/*!
* Typography
*/
h1, .h1 {
    font-size: 2rem;
    line-height: 1.34em;
    margin: 0 0 0.5em 0;
}
@media (min-width: 43.75rem) {
    h1, .h1 {
        font-size: 2.5rem;
        line-height: 1.34em;
    }
} 
@media (min-width: 56.25rem) {
    h1, .h1 {
        font-size: 3rem;
        line-height: 1.33em;
    }
}
h2, .h2 {
    font-size: 1.625rem;
    line-height: 1.35em;
    margin: 0 0 0.4em 0;
}
@media (min-width: 43.75rem) {
    h2, .h2 {
        font-size: 2rem;
        line-height: 1.34em;
    }
}
@media (min-width: 56.25rem) {
    h2, .h2 {
        font-size: 2.25rem;
        line-height: 1.34em;
    }
}
h3, .h3 {
    font-size: 1.375rem;
    line-height: 1.33em;
    margin: 0 0 0.3em 0;
}
@media (min-width: 43.75rem) {
    h3, .h3 {
        font-size: 1.5rem;
        line-height: 1.34em;
    }
}
@media (min-width: 56.25rem) {
    h3, .h3 {
        font-size: 1.75rem;
        line-height: 1.34em;
    }
}
h4, .h4 {
    font-size: 1.125rem;
    line-height: 1.35em;
    margin: 0 0 0.3em 0;
}
@media (min-width: 43.75rem) {
    h4, .h4 {
        line-height: 1.35em;
    }
}
p {
    color: rgb(87, 87, 87);
    font-size: 1rem;
    letter-spacing: 0.05em;
    line-height: 1.6em;
    margin: 0 0 1em 0;
}

/**
* Background Utilties
*/
.bg-cover {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.overlay {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
}
.overlay-dark {
    background-color: rgba(0, 0, 0, 0.5);
}
.overlay-light {
    background-color: rgba(255, 255, 255, 0.5);
}

/*!
* Image Utilities
*/
.img-center {
    display: block;
    margin: 0 auto;
}
.img-responsive {
    max-width: 100%;
}

/*!
* Form Utilities
*/
.form-control-wrapper {
    margin-bottom: 1rem;
}
.form-control-wrapper input {
    width: 100%;
}
.form-control-wrapper [type="submit"] {
    width: auto;
}

/*!
* List Utilities
*/
.list-custom {
    list-style-type: none;
    margin: 0 0 1rem 0;
    padding: 0;
}
.list-custom li {
    margin-bottom: 0.32rem;
    padding-left: 1.1rem;
    position: relative;
}
.list-custom li:before {
    color: rgb(87, 87, 87);
    content: '✓';
    display: inline-block;
    position: absolute;
    left: 0;
}

/*!
* Margin & Padding Utilities
*/
.mt-1 { margin-top: 1rem; }
.mr-1 { margin-right: 1rem; }
.mb-1 { margin-bottom: 1rem; }
.ml-1 { margin-left: 1rem; }
.mx-1 { margin-right: 1rem; margin-left: 1rem; }
.my-1 { margin-top: 1rem; margin-bottom: 1rem; }
.m-1 { margin: 1rem; }
/* Margin x 2rem */
.mt-2 { margin-top: 2rem; }
.mr-2 { margin-right: 2rem; }
.mb-2 { margin-bottom: 2rem; }
.ml-2 { margin-left: 2rem; }
.mx-2 { margin-right: 2rem; margin-left: 2rem; }
.my-2 { margin-top: 2rem; margin-bottom: 2rem; }
.m-2 { margin: 2rem; }
/* Margin x 3rem */
.mt-3 { margin-top: 3rem; }
.mr-3 { margin-right: 3rem; }
.mb-3 { margin-bottom: 3rem; }
.ml-3 { margin-left: 3rem; }
.mx-3 { margin-right: 3rem; margin-left: 3rem; }
.my-3 { margin-top: 3rem; margin-bottom: 3rem; }
.m-3 { margin: 3rem; }
/* Margin x 4rem */
.mt-4 { margin-top: 4rem; }
.mr-4 { margin-right: 4rem; }
.mb-4 { margin-bottom: 4rem; }
.ml-4 { margin-left: 4rem; }
.mx-4 { margin-right: 4rem; margin-left: 4rem; }
.my-4 { margin-top: 4rem; margin-bottom: 4rem; }
.m-4 { margin: 4rem; }
/* Margin x 5rem */
.mt-5 { margin-top: 5rem; }
.mr-5 { margin-right: 5rem; }
.mb-5 { margin-bottom: 5rem; }
.ml-5 { margin-left: 5rem; }
.mx-5 { margin-right: 5rem; margin-left: 5rem; }
.my-5 { margin-top: 5rem; margin-bottom: 5rem; }
.m-5 { margin: 5rem; }
/* Margin x 6rem */
.mt-6 { margin-top: 6rem; }
.mr-6 { margin-right: 6rem; }
.mb-6 { margin-bottom: 6rem; }
.ml-6 { margin-left: 6rem; }
.mx-6 { margin-right: 6rem; margin-left: 6rem; }
.my-6 { margin-top: 6rem; margin-bottom: 6rem; }
.m-6 { margin: 6rem; }
/* Padding x 1rem */
.pt-1 { padding-top: 1rem; }
.pr-1 { padding-right: 1rem; }
.pb-1 { padding-bottom: 1rem; }
.pl-1 { padding-left: 1rem; }
.px-1 { padding-right: 1rem; padding-left: 1rem; }
.py-1 { padding-top: 1rem; padding-bottom: 1rem; }
.p-1 { padding: 1rem; }
/* Padding x 2rem */
.pt-2 { padding-top: 2rem; }
.pr-2 { padding-right: 2rem; }
.pb-2 { padding-bottom: 2rem; }
.pl-2 { padding-left: 2rem; }
.px-2 { padding-right: 2rem; padding-left: 2rem; }
.py-2 { padding-top: 2rem; padding-bottom: 2rem; }
.p-2 { padding: 2rem; }
/* Padding x 3rem */
.pt-3 { padding-top: 3rem; }
.pr-3 { padding-right: 3rem; }
.pb-3 { padding-bottom: 3rem; }
.pl-3 { padding-left: 3rem; }
.px-3 { padding-right: 3rem; padding-left: 3rem; }
.py-3 { padding-top: 3rem; padding-bottom: 3rem; }
.p-3 { padding: 3rem; }
/* Padding x 4rem */
.pt-4 { padding-top: 4rem; }
.pr-4 { padding-right: 4rem; }
.pb-4 { padding-bottom: 4rem; }
.pl-4 { padding-left: 4rem; }
.px-4 { padding-right: 4rem; padding-left: 4rem; }
.py-4 { padding-top: 4rem; padding-bottom: 4rem; }
.p-4 { padding: 4rem; }
/* Padding x 5rem */
.pt-5 { padding-top: 5rem; }
.pr-5 { padding-right: 5rem; }
.pb-5 { padding-bottom: 5rem; }
.pl-5 { padding-left: 5rem; }
.px-5 { padding-right: 5rem; padding-left: 5rem; }
.py-5 { padding-top: 5rem; padding-bottom: 5rem; }
.p-5 { padding: 5rem; }
/* Padding x 6rem */
.pt-6 { padding-top: 6rem; }
.pr-6 { padding-right: 6rem; }
.pb-6 { padding-bottom: 6rem; }
.pl-6 { padding-left: 6rem; }
.px-6 { padding-right: 6rem; padding-left: 6rem; }
.py-6 { padding-top: 6rem; padding-bottom: 6rem; }
.p-6 { padding: 6rem; }

/*!
* Other Utilities
*/
.show {
    display: block;
}
.hide {
    display: none;
}
.overflow-hidden {
    overflow: hidden;
}

/*!
* Text Utilities
*/
.text-light,
.text-light h1,
.text-light h2,
.text-light h3,
.text-light h4,
.text-light p,
.text-light a {
    color: rgb(255, 255, 255);
}
.text-dark,
.text-dark h1,
.text-dark h2,
.text-dark h3,
.text-dark h4,
.text-dark p,
.text-dark a {
    color: rgb(0, 0, 0);
}
.text-left {
    text-align: left !important;
}
.text-right {
    text-align: right !important;
}
.text-center {
    text-align: center !important;
}
@media (min-width: 576px) {
    .text-sm-left {
        text-align: left !important;
    }
    .text-sm-right {
        text-align: right !important;
    }
    .text-sm-center {
        text-align: center !important;
    }
}
@media (min-width: 768px) {
    .text-md-left {
        text-align: left !important;
    }
    .text-md-right {
        text-align: right !important;
    }
    .text-md-center {
        text-align: center !important;
    }
}
@media (min-width: 992px) {
    .text-lg-left {
        text-align: left !important;
    }
    .text-lg-right {
        text-align: right !important;
    }
    .text-lg-center {
        text-align: center !important;
    }
}
@media (min-width: 1200px) {
    .text-xl-left {
        text-align: left !important;
    }
    .text-xl-right {
        text-align: right !important;
    }
    .text-xl-center {
        text-align: center !important;
    }
}

/*!
* Links
*/
a:link {}
a:visited {}
a:hover {}
a:active {} 

/**
* Buttons
*/
button {
    cursor: pointer;
}
.btn {
    background-color: rgb(255, 255, 255);
    border: 0.05rem solid #aaa;;
    border-radius: 0.25rem;
    color: rgb(87, 87, 87);
    display: inline-block;
    margin-bottom: 0.2rem;
    padding: 0.6rem 1rem;
    text-decoration: none;
    text-align: center;
}
.btn:active {
    box-shadow: inset 0 0.1rem 0.2rem 0 rgba(0, 0, 0, 0.2);
}
/* Button Full Width */
.btn-block {
    display: block !important;
}
/* Button Scheme */
.btn-primary {
    background-color: rgb(70, 131, 181);
    border-color: rgb(70, 131, 181);
    color: rgb(255, 255, 255);
}
.btn-danger {
    background-color: rgb(181, 70, 70);
    border-color: rgb(181, 70, 70);
    color: rgb(255, 255, 255);
}
.btn-warning {
    background-color: rgb(181, 146, 70);
    border-color: rgb(181, 146, 70);
    color: rgb(255, 255, 255);
}
.btn-success {
    background-color: rgb(104, 181, 70);
    border-color:  rgb(104, 181, 70);
    color: rgb(255, 255, 255);
}