/*!
* Containers and Wrappers
*/
.container,
.container-fluid,
.section {
    position: relative;
}

/*!
 *  Page
 */
.page {}

/*!
 *  Site Header
 */
.site-header {}

/*!
 *  Site Footer
 */
.site-header {}


/*!
 *  Site Content
 */
.site-header {}


/*!
 *  Section - Banner
 */
.section-banner {}


/*!
 *  Component - Accordion
 */
 .accordion {
    margin-bottom: 1rem;
}
.accordion-head {
    background-color: rgb(240, 240, 240);
    cursor: pointer;
    padding: 1rem;
}
.accordion-body {
    padding: 1rem;
}

/*!
 *  Component - Article
 */
.article {
    background-color: #f1f1f1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    padding: 1rem;
}
.article-head {}
.article-body {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}
.article-footer {}

/*!
 *  Component - Slider
 */
.slick-slider * {
    outline: none;
}
.slick-slider {
    position: relative;
}
.slick-slider .slick-slide {
    background-color: rgba(240, 240, 240, 1);
    height: 20rem;
    padding: 0 2rem;
}
.slick-slider .slick-arrow {
    background-color: transparent;
    border: none;
    color: rgba(0, 0, 0, 1);
    height: 100%;
    padding: 0 1rem;
    position: absolute;
    top: 0;
    z-index: 1;
}
.slick-slider .slick-prev {
    left: 0;
}
.slick-slider .slick-next {
    right: 0;
}
.slick-slider .slick-dots {
    list-style: none;
    margin: 1rem 0;
    padding: 0;
    text-align: center;
}
.slick-slider .slick-dots li {
    display: inline-block;
    margin: 0 0.4rem;
}
.slick-slider .slick-dots li button {
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 1rem;
    font-size: 0;
    padding: 0.3rem;
}
.slick-slider .slick-dots li.slick-active button {
    background-color: rgba(0, 0, 0, 0.7);
}

/*!
 *  Component - Social Links
 */
.social-links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
.social-links li {
    display: inline-block;
}
.social-links li a {
    background-color: rgb(240, 240, 240);
    border-radius: 50%;
    color: rgb(100, 100, 100);
    display: inline-block;
    padding: 0.8rem 0.7rem;
}